html, body, #root {
    font: 0.9rem sans-serif;
    background: #144606;
    color: #1e2432;
    height: 100%;
    margin: 0;
}




.city {
    display: flex;
    width: 350px;
    height: 250px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 30px;
    border-radius: 20px;
    background-color: green;
    
}

p {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.city-temp {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    color: white;
    text-align: center;
}

.city sup {
    font-size: 0.5em;
}

.city-name {
    font-size: 2.0em;
    color: white;
    object-fit: contain;
    align-self: flex-end;
    margin: -53px 0px 20px ;

}


.city-icon {
    position:static;
    width: 80px;
    height: 80px;
    float: left;
    object-fit: contain;
    align-self: flex-start;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .search {
        padding: 20px 15%;
    }

    .city {
        padding: 40px 20%;
    }
}